body{
    height: 100%;
    background: linear-gradient(to right, #7474bf, #348ac7);
    padding-top: 70px;
    padding-bottom: 70px;
}

.card{
    height: -webkit-fill-available;
    overflow: auto;
}